.spaceType-detail-header {
  border-bottom: 1px solid #e5e5e5;
  background-color: #fcfcfc;
  padding: 30px;
}

.spaceType-detail-header-title {
  font-size: 36px;
  text-align: center;
  font-weight: 300;
  line-height: 42px;
  margin: -5px auto 0;
}

.spaceType-detail-subheader-container {
  border-bottom: 1px solid #e5e5e5;
  background-color: #ffffff;
  margin: 0 auto;
}

.spaceType-detail-subheader {
  width: 100%;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  max-width: 960px;
  align-items: center;
  justify-content: space-between;
}

.spaceType-detail-counters {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spaceType-detail-counter {
  text-align: center;
  text-decoration: none;
  margin: 0 15px;
}

.spaceType-detail-counter:hover {
  text-decoration: none;
}

.spaceType-detail-counter-number {
  color: #999999;
  font-size: 16px;
  font-weight: 600;
}

.spaceType-detail-counter-text {
  color: #999999;
  font-size: 14px;
}

.spaceType-detail-actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spaceType-detail-action {
  position: relative;
  margin-left: 10px;
}

.spaceType-detail-action .popup {
  top: calc(100% + 15px);
  right: -15px;
  width: 300px;
}

.spaceType-detail-action .popup:after,
.spaceType-detail-action .popup:before {
  left: auto;
  right: 25px;
}
