.space-card {
  border: 1px solid #dadada;
  border-radius: 4px;
  background-color: #ffffff;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}

.space-card > * {
  width: 100%;
}

.space-card .redesign-badge {
  top: 10px;
  right: 10px;
  z-index: 10;
  position: absolute;
}

.space-card:hover .redesign-badge,
.space-card:active .redesign-badge {
  z-index: 100;
}

.space-card:hover .card-actions-overlay,
.space-card:active .card-actions-overlay {
  display: block;
}

.space-card:hover .card-actions,
.space-card:active .card-actions,
.space-card--popup-open .card-actions {
  display: flex;
}

.space-card--redesign:hover .card-actions--right,
.space-card--redesign:active .card-actions--right {
  right: 60px;
}

.space-card--popup-open .space-card-overlay {
  display: block;
}

.space-card--popup-open:hover .card-actions-overlay,
.space-card--popup-open:active .card-actions-overlay {
  display: none;
}

.space-card-overlay {
  border: 0 none;
  background-color: rgba(0, 0, 0, 0.055);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: none;
  position: absolute;
}

.space-card-images-container {
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid #dadada;
  flex: 1;
  width: 100%;
  height: 100%;
  padding: 10%;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-self: stretch;
  min-height: 265px;
  align-items: stretch;
  justify-content: center;
}

.space-card-images-container--loading {
  align-items: center;
}

.space-card-image {
  background-size: contain;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: 50%;
  width: 50%;
  z-index: 1;
  position: relative;
}

.space-card-images-container[data-images="1"] .space-card-image,
.space-card-images-container[data-images="3"] .space-card-image:last-child {
  width: 100%;
}

.space-card-user {
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  left: 10px;
  bottom: 10px;
  z-index: 5;
  display: flex;
  padding: 4px 6px;
  position: absolute;
  align-items: center;
  justify-content: flex-start;
}

.space-card-user:hover {
  text-decoration: none;
}

.space-card-user-avatar {
  margin-right: 5px;
}

.space-card-user-name {
  color: #666;
  font-size: 14px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.space-card-user-link {
  text-decoration: none;
  display: flex;
  margin-left: 5px;
  align-items: center;
  justify-content: flex-start;
}

.space-card-user-link .user-curator-badge {
  margin-left: 2px;
}

.space-card-empty {
  color: #999;
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media (max-width: 736px) {
  .card-action {
    width: auto;
    height: auto;
    padding: 5px;
    min-height: inherit;
  }

  .card-action > .icon {
    width: 16px;
    height: 16px;
  }

  .space-card-user-avatar .user-avatar-image,
  .space-card-user-avatar .user-avatar-initials {
    width: 16px !important;
    height: 16px !important;
  }

  .space-card-user-name {
    font-size: 12px;
  }

  .redesign-badge,
  .redesign-badge-link,
  .redesign-badge .user-avatar-image,
  .redesign-badge .user-avatar-initials {
    width: 28px !important;
    height: 28px !important;
  }

  .space-card--redesign:hover .card-actions--right,
  .space-card--redesign:active .card-actions--right {
    right: 50px;
  }
}
