.space-detail-header {
  border-bottom: 1px solid #e5e5e5;
  background-color: #fdfdfd;
  padding: 30px;
  position: relative;
}

.space-detail-header-title {
  font-size: 36px;
  text-align: center;
  font-weight: 300;
  line-height: 42px;
  width: 100%;
  margin: 0 auto;
  max-width: 1024px;
}

.space-detail-header-pre-title {
  color: #999999;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: block;
  margin-bottom: 5px;
}

.space-detail-description {
  color: #999999;
  text-align: center;
  margin: 15px auto;
  max-width: 620px;
}

.space-detail-counters {
  width: 100%;
  margin: 15px auto 0;
  display: flex;
  max-width: 1024px;
  align-items: center;
  justify-content: center;
}

.space-detail-counter {
  border: 0 none;
  background-color: transparent;
  text-align: center;
  text-decoration: none;
  margin: 0 15px;
  padding: 0;
}

.space-detail-counters > .space-detail-counter:first-child {
  margin-left: 0;
}

.space-detail-counters > .space-detail-counter:last-child {
  margin-right: 0;
}

button.space-detail-counter {
  cursor: pointer;
}

.space-detail-counter:hover,
.space-detail-counter:active {
  text-decoration: none;
}

.space-detail-counter:hover .space-detail-counter-text,
.space-detail-counter:active .space-detail-counter-text,
.space-detail-counter:hover .space-detail-counter-number,
.space-detail-counter:active .space-detail-counter-number {
  color: #555555;
}

.space-detail-counter-number {
  color: #999999;
  font-size: 16px;
  font-weight: 600;
}

.space-detail-counter-text {
  color: #999999;
  font-size: 14px;
}

.space-detail-header--has-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  position: relative;
  min-height: 65vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.space-detail-header--has-cover::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.55);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
}

.space-detail-header--has-cover .space-detail-header-title,
.space-detail-header--has-cover .space-detail-description,
.space-detail-header--has-cover .space-detail-counters {
  z-index: 10;
  position: relative;
}

.space-detail-header--has-cover .space-detail-header-title,
.space-detail-header--has-cover .space-detail-header-pre-title,
.space-detail-header--has-cover .space-detail-counter-number,
.space-detail-header--has-cover .space-detail-counter-text,
.space-detail-header--has-cover .space-detail-description {
  color: #ffffff;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.35);
}

.space-detail-cover-actions {
  top: 15px;
  right: 15px;
  z-index: 10;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: flex-start;
}

.space-detail-subheader-container {
  border-bottom: 1px solid #e5e5e5;
  background-color: #ffffff;
  margin: 0 auto;
}

.space-detail-subheader {
  width: 100%;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  max-width: 1024px;
  align-items: center;
  justify-content: space-between;
}

.space-detail-actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.space-detail-action {
  position: relative;
  margin-left: 10px;
}

.space-detail-actions > .space-detail-action:first-child {
  margin-left: 0;
}

.space-detail-action .popup {
  top: calc(100% + 15px);
  right: -15px;
  width: 300px;
}

.space-detail-action .popup:after,
.space-detail-action .popup:before {
  left: auto;
  right: 25px;
}

.space-detail-suggestion {
  display: flex;
  padding: 35px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.space-detail-suggestion-title {
  font-size: 26px;
  text-align: center;
  margin: 0 auto 15px;
}

.space-detail-suggestions {
  width: 100%;
  display: flex;
  max-width: 1024px;
  align-items: center;
  justify-content: center;
}

.page-space-detail #products {
  margin-top: 15px;
}

.page-space-detail #otherSpaces {
  border-top: 1px solid #e5e5e5;
}

.page-space-detail #comments {
  border-top: 1px solid #e5e5e5;
  width: 100%;
  margin: 0 auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.space-detail-empty {
  color: #999;
  font-size: 32px;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 100%;
  margin: 35px auto;
  display: flex;
  min-height: 30vh;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .space-detail-header {
    padding: 15px;
  }

  .space-detail-header--has-cover {
    min-height: 45vh;
  }

  .space-detail-header-title {
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
  }

  .space-detail-suggestion {
    padding: 15px;
  }

  .space-detail-suggestion-title {
    font-size: 22px;
    margin: 0 auto 15px;
  }

  .space-detail-subheader {
    flex-direction: column;
  }

  .space-detail-actions {
    margin-top: 15px;
  }

  .space-detail-suggestions {
    flex-wrap: wrap;
  }

  .page-space-detail #products {
    margin-top: 15px;
  }

  .page-space-detail #comments {
    padding: 15px 0;
  }
}
