.page-create-space {
  background-color: #f8f8f8;
}

.page-create-space .page-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.space-form-container {
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  background-color: #ffffff;
  width: 100%;
  margin: 30px auto;
  max-width: 1024px;
}

.space-form-title {
  border-bottom: 1px solid #e5e5e5;
  font-weight: 300;
  width: 100%;
  margin: 0;
  padding: 30px;
}

.space-form-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.space-form-content-left {
  border-right: 1px solid #e5e5e5;
  width: 35%;
  padding: 30px;
}

.space-form-content-right {
  width: 65%;
  padding: 30px;
}
