.add-product-modal {
  border-radius: 4px;
  background-color: #ffffff;
  width: 100%;
  margin: 60px auto;
  display: flex;
  max-width: 665px;
  min-height: 250px;
}

.add-product-modal .loader {
  margin: 0 auto;
  display: flex;
  align-self: center;
}

.add-product-modal-content {
  width: 100%;
  display: flex;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
}

.add-product-modal-close {
  top: 3px;
  right: 0;
  padding: 15px;
  position: absolute;
}

.add-product-modal-left,
.add-product-modal-right {
  width: 50%;
  display: flex;
  min-height: 535px;
  align-items: stretch;
  justify-content: center;
}

.add-product-modal-left {
  border-right: 1px solid #dadada;
  border-radius: 4px 0 0 4px;
  background-color: #f9f9f9;
  padding: 15px;
}

.add-product-modal-product,
.add-product-modal-product .product-card {
  width: 100%;
  height: 100%;
}

.add-product-modal-right {
  border-radius: 0 4px 4px 0;
}

.add-product-modal-empty-text {
  font-size: 32px;
  font-weight: 300;
  text-align: center;
  line-height: 36px;
  margin: 0 auto 15px;
}

.add-product-modal-empty {
  display: flex;
  padding: 15px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.add-product-modal-title {
  border-bottom: 1px solid #dadada;
  font-size: 20px;
  width: 100%;
  margin: 0 auto 15px;
  padding: 15px;
  flex-shrink: 0;
}

.add-product-modal-spaces,
.add-product-modal-spaces-list {
  width: 100%;
}

.add-product-modal-spaces {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.add-product-modal-spaces-search {
  width: 100%;
  padding: 0 15px 15px;
  flex-shrink: 0;
}

.add-product-modal-spaces-list {
  border-top: 1px solid #dadada;
  height: 100%;
  max-height: 322px;
  overflow-y: auto;
}

.add-product-modal-space {
  cursor: pointer;
  border: 0 none;
  border-bottom: 1px solid #dadada;
  background-color: #ffffff;
  width: 100%;
  padding: 15px;
}

.add-product-modal-space-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-product-modal-space:disabled,
.add-product-modal-space[disabled] {
  opacity: 0.6;
  pointer-events: none;
}

.add-product-modal-space:hover,
.add-product-modal-space:active {
  background-color: #fafafa;
}

.add-product-modal-space-name {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.add-product-modal-space-room {
  color: #999999;
  font-size: 11px;
  font-weight: 500;
  line-height: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: block;
  margin-bottom: 5px;
}

.add-product-modal-space-action,
.add-product-modal-space-actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-product-modal-space-action {
  margin-left: 5px;
}

.add-product-modal-space-action:hover .icon-fill,
.add-product-modal-space-action:active .icon-fill {
  fill: #439fe0;
}

.add-product-modal-space-icon.icon-uncheck,
.add-product-modal-space--has-product:hover .add-product-modal-space-icon.icon-check,
.add-product-modal-space--has-product:active .add-product-modal-space-icon.icon-check {
  display: none;
}

.add-product-modal-space--has-product:hover .add-product-modal-space-icon.icon-uncheck,
.add-product-modal-space--has-product:active .add-product-modal-space-icon.icon-uncheck {
  display: block;
}

.add-product-modal-space:hover .icon-check-empty .icon-fill,
.add-product-modal-space:active .icon-check-empty .icon-fill,
.add-product-modal-space--has-product .icon-check .icon-fill {
  fill: #2ECC71;
}

.add-product-modal-space--has-product .icon-uncheck .icon-fill {
  fill: #E74C3C;
}

.add-product-modal-spaces-actions {
  border-top: 1px solid #dadada;
  border-radius: 0 0 4px 0;
  background-color: #fafafa;
  width: 100%;
  padding: 15px;
  z-index: 5;
  position: relative;
  margin-top: -1px;
  flex-shrink: 0;
}

.add-product-modal-spaces-actions .button {
  width: 100%;
}

.add-product-modal-spaces-list-empty {
  color: #999;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 35px;
}

@media (max-width: 736px) {
  .add-product-modal {
    margin: 15px auto;
  }

  .add-product-modal-close {
    padding: 25px;
    z-index: 100;
  }

  .add-product-modal-content {
    flex-direction: column;
  }

  .add-product-modal-left,
  .add-product-modal-right {
    width: 100%;
  }

  .add-product-modal-left {
    min-height: inherit;
  }

  .add-product-modal-right {
    min-height: 100%;
  }

  .add-product-modal .product-card {
    flex-direction: row;
  }

  .add-product-modal .product-card .product-card-overlay,
  .add-product-modal .product-card .product-tags,
  .add-product-modal .product-card .product-card-designer,
  .add-product-modal .product-card .product-card-price {
    display: none;
  }

  .add-product-modal .product-card .product-card-image-container {
    border: 0 none;
  }

  .add-product-modal .product-card .product-card-image-container {
    padding: 10px !important;
  }

  .add-product-modal .product-card .product-card-image-container,
  .add-product-modal .product-card .product-card-image {
    width: 85px;
    height: 100%;
    min-height: 85px;
  }

  .add-product-modal .product-card .product-title {
    border: 0 none;
    width: calc(100% - 80px);
  }

  .add-product-modal-spaces-list {
    height: auto;
    max-height: 100%;
    -webkit-overflow-scrolling: touch;
  }

  .add-product-modal-spaces-actions {
    z-index: 15;
  }

  .add-product-modal-spaces-list-empty {
    padding: 15px;
  }
}
