.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 10000;
  overflow-y: auto;
}

@import './likes.css';
@import './redesigns.css';
@import './space-form.css';
@import './add-product.css';
