.footer {
  border-top: 1px solid #e5e5e5;
  background-color: #ffffff;
  width: 100%;
  margin: 0 auto;
  height: 65px;
}

.footer-container {
  width: 100%;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-nav,
.footer-social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-link,
.footer-social-link {
  display: flex;
  margin-right: 15px;
}

.footer-nav > .footer-link:last-child {
  margin-right: 0;
}

.footer-copyright {
  margin: 0;
}
