.header {
  border-bottom: 1px solid #e5e5e5;
  background-color: #ffffff;
  width: 100%;
  margin: 0 auto;
}

.header-container {
  width: 100%;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-container-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-link {
  text-decoration: none;
  display: flex;
  margin-right: 15px;
}

.header-link:hover {
  color: #333333;
  text-decoration: none;
}

.header-link.is-active {
  color: #333333;
}

.header-nav > .header-link:last-child {
  margin-right: 0;
}

.header-container-right .admin-nav,
.header-container-right .current-user-nav {
  height: 35px;
  display: flex;
  align-items: center;
}

.header-container-right .search,
.header-container-right .admin-nav,
.header-container-right .add-product-button {
  margin-right: 15px;
}

.header-container-right .add-product-button {
  width: 47px;
}
