.header {
  border-bottom: 1px solid #e5e5e5;
  background-color: #ffffff;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  z-index: 1000;
  position: fixed;
}

.user-is-onboarding .header {
  top: 70px;
}

.header-container {
  width: 100%;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-main-navigation {
  display: flex;
  padding: 0 25px;
  align-items: center;
  justify-content: center;
}

.header-main-navigation .dropdown-content {
  top: calc(100%);
}

.header-container-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.header-link {
  font-size: 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-right: 25px;
  justify-content: center;
}

.header-link:hover,
.header-link:active {
  color: #333333;
  text-decoration: none;
}

.header-link.is-active {
  color: #333333;
}

.header-link-logo {
  margin-right: 0;
}

.header-nav > .header-link:last-child {
  margin-right: 0;
}

.header-link-divider {
  border-left: 1px solid #e5e5e5;
  margin-right: 25px;
}

.header-container-right .admin-nav,
.header-container-right .current-user-nav {
  height: 35px;
  display: flex;
  align-items: center;
}

.header-container-right .search,
.header-container-right .admin-nav,
.header-container-right .add-product-button {
  margin-right: 15px;
}

.header-container-right .add-product-button {
  width: 47px;
}

.header [data-action="toggleMobileNav"] {
  display: none;
}

.header [data-action="toggleMobileNav"],
.mobile-nav [data-action="toggleMobileNav"] {
  width: 40px;
  height: 35px;
  padding: 0;
  min-height: 35px;
  margin-left: 15px;
}

.mobile-nav {
  background-color: #ffffff;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  position: fixed;
}

.mobile-nav-top {
  border-bottom: 1px solid #e5e5e5;
  width: 100%;
  display: flex;
  padding: 15px;
  align-items: center;
  justify-content: space-between;
}

.mobile-nav-link {
  border-bottom: 1px solid #e5e5e5;
  font-size: 20px;
  text-decoration: none;
  width: 100%;
  display: flex;
  padding: 25px;
  align-items: center;
  justify-content: flex-start;
}

.mobile-nav-link:active,
.mobile-nav-link--active {
  text-decoration: none;
  background-color: #f8f8f8;
}

.admin-nav .dropdown-content {
  min-width: 280px;
}

@media (max-width: 768px) {
  .header .search,
  .header .admin-nav,
  .header .header-link,
  .header .header-link-divider {
    display: none;
  }

  .header-nav > .header-link:first-child {
    display: flex;
  }

  .header .add-product-button {
    width: 40px;
    height: 35px;
    margin: 0 0 0 15px;
    padding: 0;
    min-height: 35px;
  }

  .header .header-container-right {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  .header .current-user-nav {
    border-left: 0 none;
    margin-left: 0;
    padding-left: 0;
  }

  .header .user-notifications {
    margin: 0 0 0 15px;
  }

  .header .user-notifications .dropdown__content {
    top: calc(100% + 15px);
    right: 0;
    width: 320px;
    margin-right: -135px;
  }

  .header [data-action="toggleMobileNav"] {
    display: flex !important;
  }

  .header-main-navigation {
    display: none;
  }
}
