.page-basic .page-content {
  width: 100%;
  margin: 0 auto;
  padding: 35px;
  max-width: 1024px;
}

.page-basic hr {
  border: 0 none;
  outline: 0 none;
  border-bottom: 1px solid #e5e5e5;
  margin: 0 0 35px
}

.page-basic h1 {
  margin: 0 auto 35px;
}

.page-basic h1 small {
  color: #999999;
  font-size: 14px;
  display: block;
}

.page-basic h2 {
  font-size: 26px;
  line-height: 38px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 auto 35px;
}

.page-basic h3 {
  color: #999999;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  margin: 0 auto 35px;
}

.page-basic p {
  margin: 0 auto 35px;
}

.page-basic p:last-child {
  margin-bottom: 0;
}

.page-basic p .button {
  display: inline-flex;
}

.page-basic .page-content a {
  color: #439fe0;
}

.page-basic ul,
.page-basic ol {
  margin: 0 auto 35px;
  padding: 0 0 0 45px;
}

.page-basic ul li,
.page-basic ol li {
  margin-bottom: 15px;
}

.page-basic ul li:last-child,
.page-basic ol li:last-child {
  margin-bottom: 0;
}

.page-basic video {
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  margin: 0 0 35px;
  display: block;
  max-width: 620px;
}

.page-basic .images {
  width: 100%;
  margin: 0 0 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-basic .images a {
  cursor: zoom-in;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  width: calc(50% - 10px);
  height: auto;
  max-width: 512px;
}

.page-basic .images img {
  border-radius: 4px;
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .page-basic {
    padding: 15px;
  }

  .page-basic h1 {
    margin: 0 auto 15px;
  }

  .page-basic h2 {
    margin: 0 auto 15px;
  }

  .page-basic h3 {
    margin: 0 auto 15px;
  }

  .page-basic p {
    margin: 0 auto 15px;
  }

  .page-basic .images {
    display: block;
  }

  .page-basic .images a {
    width: 100%;
    margin: 0 0 15px;
    display: block;
    max-width: 100%;
  }

  .page-basic .images a:last-child {
    margin-bottom: 0;
  }
}
