{
  "extends": "airbnb",
  "parser": "babel-eslint",

  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },

  "rules": {
    "semi": [1, "never"],
    "max-len": [2, 80, 2, { "ignoreComments": true, "ignoreUrls": true }],
    "comma-dangle": 0,
    "babel/no-await-in-loop": 0
  }
}
