#suggestions .sticky-inner {
  background-color: #ffffff;
}

#suggestions .sticky-inner--active {
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid #d0d0d0;
  padding: 15px 0;
}

#suggestions .sticky-inner--active .grid-title-container {
  margin-bottom: 0;
}

#suggestions .sticky-inner--active .grid-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: calc(100% - 135px);
}

#suggestions .sticky-inner--active .grid-title-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#suggestions .sticky-inner--active .tags-container {
  display: none;
}
