.feed-empty {
  width: 100%;
  margin: 70px auto 35px;
  display: flex;
  max-width: 620px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.feed-empty-title {
  font-size: 28px;
  text-align: center;
  margin: 0 auto 35px;
}

@media (max-width: 768px) {
  .feed-empty {
    margin: 15px auto;
  }

  .feed-content .navpills {
    margin-top: 15px;
  }
}
