.card-actions-overlay {
  background-color: rgba(0, 0, 0, 0.055);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: none;
  position: absolute;
}

.card-actions {
  display: none;
  z-index: 11;
  position: absolute;
}

.card-actions--left,
.card-actions--right {
  top: 15px;
  align-items: center;
}

.card-actions--left {
  left: 15px;
  justify-content: flex-start;
}

.card-actions--right {
  right: 15px;
  justify-content: flex-end;
}

.card-actions--left > .card-action {
  margin-right: 10px;
}

.card-actions--left > .card-action:last-child {
  margin-right: 0;
}

.card-actions--right > .card-action {
  margin-left: 10px;
}

.card-actions--right > .card-action:first-child {
  margin-left: 0;
}

.card-action {
  width: 40px;
  height: 40px;
  padding: 5px;
  min-height: 40px;
}

.card-action:not(.like-button) {
  border-color: #dadada;
  background-color: #ffffff;
}

.card-action:not(.like-button):hover {
  border-color: #c0c0c0;
  background-color: #ffffff;
}

.card-action[data-action="add"]:hover,
.card-action[data-action="redesign"]:hover {
  border-color: #2ECC71;
  background-color: #2ECC71;
}

.card-action[data-action="add"]:hover .icon-fill,
.card-action[data-action="redesign"]:hover .icon-fill {
  fill: #FFFFFF;
}
