.card-actions-overlay {
  background-color: rgba(0, 0, 0, 0.055);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: none;
  position: absolute;
}

.card-actions {
  display: none;
  z-index: 11;
  position: absolute;
}

.card-actions--left,
.card-actions--right {
  top: 10px;
  align-items: center;
}

.card-actions--left {
  left: 10px;
  justify-content: flex-start;
}

.card-actions--right {
  right: 10px;
  justify-content: flex-end;
}

.card-actions--left > .card-action {
  margin-right: 10px;
}

.card-actions--left > .card-action:last-child {
  margin-right: 0;
}

.card-actions--right > .card-action {
  margin-left: 10px;
}

.card-actions--right > .card-action:first-child {
  margin-left: 0;
}

.card-action {
  width: 40px;
  height: 40px;
  padding: 5px;
  min-height: 40px;
}

.card--default,
.card-action[data-action="add"],
.card-action[data-action="remove"],
.card-action[data-action="redesign"] {
  border-color: #dadada;
  background-color: #ffffff;
}

.card--default:hover,
.card--default:active {
  border-color: #c0c0c0;
  background-color: #ffffff;
}

.card--default:hover .icon-fill,
.card--default:active .icon-fill {
  fill: #888888;
}

.card-action[data-action="add"]:hover,
.card-action[data-action="add"]:active,
.card-action[data-action="add"].button--active,
.card-action[data-action="redesign"]:hover,
.card-action[data-action="redesign"]:active,
.card-action[data-action="redesign"].button--active {
  border-color: #2ECC71;
  background-color: #2ECC71;
}

.card-action[data-action="remove"] .icon-fill {
  fill: #e74c3c;
}

.card-action[data-action="remove"]:hover,
.card-action[data-action="remove"]:active,
.card-action[data-action="remove"].button--active {
  border-color: #e74c3c;
  background-color: #e74c3c;
}

.card-action[data-action="add"]:hover .icon-fill,
.card-action[data-action="add"]:active .icon-fill,
.card-action[data-action="add"].button--active .icon-fill,
.card-action[data-action="redesign"]:hover .icon-fill,
.card-action[data-action="redesign"]:active .icon-fill,
.card-action[data-action="redesign"].button--active .icon-fill,
.card-action[data-action="remove"]:hover .icon-fill,
.card-action[data-action="remove"]:active .icon-fill,
.card-action[data-action="remove"].button--active .icon-fill {
  fill: #FFFFFF;
}

@media (max-width: 736px) {
  .product-card-image-container {
    padding-top: 55px !important;
  }

  .card-actions {
     display: flex !important;
  }
}
