.card-actions-overlay {
  opacity: 0;
  transition: opacity 0.2s ease-in;
  background-color: rgba(0, 0, 0, 0.055);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
}

.card-actions {
  opacity: 0;
  transition: opacity 0.2s ease-in;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  display: flex;
  z-index: 3;
  position: absolute;
  align-items: center;
  justify-content: space-between;
}

.card-actions-left,
.card-actions-right {
  width: 50%;
  display: flex;
  align-items: center;
}

.card-actions-left {
  justify-content: flex-start;
}

.card-actions-right {
  justify-content: flex-end;
}

.card-actions-left > .card-action {
  margin-right: 10px;
}

.card-actions-left > .card-action:last-child {
  margin-right: 0;
}

.card-actions-right > .card-action {
  margin-left: 10px;
}

.card-actions-right > .card-action:first-child {
  margin-left: 0;
}

.card-action {
  border-color: #dadada;
  background-color: #ffffff;
}

.card-action:hover {
  border-color: #c0c0c0;
  background-color: #ffffff;
}
