.card-tags {
  width: 100%;
  padding: 10px;
  display: flex;
  overflow-x: hidden;
  align-items: center;
  justify-content: flex-start;
}

.card-tags:hover,
.card-tags:active {
  overflow-x: scroll;
}

.card-tags::after {
  content: "\00a0";
}
