.card-tags {
  width: 100%;
  padding: 10px;
  display: flex;
  overflow-x: scroll;
  align-items: center;
  justify-content: flex-start;
}

.card-tag {
  border-radius: 3px;
  background-color: #ececec;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  padding: 4px 8px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 10px;
  justify-content: center;
}
