.card-title-container {
  text-decoration: none;
  padding: 10px;
}

.card-title-container:hover {
  text-decoration: none;
}

.card-subtitle {
  color: #999999;
  font-size: 13px;
}

.card-title {
  font-size: 16px;
}
