.page-auth {
  background-color: #f8f8f8;
}

.page-auth .page-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-form {
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  background-color: #ffffff;
  width: 100%;
  margin: 30px auto;
  display: flex;
  max-width: 560px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.auth-form-social {
  width: 100%;
  display: flex;
  padding: 0 30px 30px;
  align-items: center;
  justify-content: space-between;
}

.auth-form-social .button {
  width: calc(50% - 7.5px);
}

.auth-form > .form-group {
  margin: 0 auto;
  padding: 0 30px 30px;
}

.auth-form-user-info {
  width: 100%;
  margin: 30px auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.auth-form-user-info-avatar {
  border: 1px solid #e5e5e5;
  border-radius: 50%;
}

.auth-form-user-info-text {
  margin: 5px auto 0;
}

.auth-form-legal {
  color: #9c9494;
  text-align: center;
}

.auth-form-success {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  max-width: 620px;
}

.auth-form-success-cta {
  margin: 30px auto;
  max-width: 235px;
}

@media (max-width: 768px) {
  .auth-form {
    border-radius: 0;
    margin: 15px auto;
  }

  .auth-form-social {
    width: 100%;
    display: flex;
    padding: 0 15px 15px;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }

  .auth-form-social .button {
    width: 100%;
    margin-bottom: 15px;
  }

  .auth-form-social .button:last-child {
    margin-bottom: 0;
  }

  .auth-form > .form-group {
    padding: 0 15px 15px;
  }

  .auth-form-user-info {
    margin: 15px auto;
  }

  .auth-form-success-cta {
    margin: 15px auto;
  }
}
