.user-mini-profile {
  text-decoration: none;
  display: flex;
  max-width: 250px;
  align-items: center;
}

.user-mini-profile:hover,
.user-mini-profile:active {
  text-decoration: none;
}

.user-mini-profile-left {
  margin-right: 10px
}

.user-mini-profile-info {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  justify-content: flex-start;
}

.user-mini-profile-username {
  margin-right: 10px;
}

.user-mini-profile-username-text {
  font-size: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex;
  max-width: 160px;
  overflow-x: hidden;
}

.user-mini-profile-username-text .user-curator-badge {
  margin-left: 2px;
}

.user-mini-profile-stats {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.user-mini-profile-stats > .user-mini-profile-stat:last-child {
  margin-right: 0;
}

.user-mini-profile-stat {
  color: #999999;
  font-size: 12px;
  margin-right: 10px;
}
