.current-user-nav {
  border-left: 1px solid #e5e5e5;
  padding-left: 15px;
}

.current-user-nav-cta {
  display: flex;
  align-items: center;
  justify-content: center;
}

.current-user-nav-link {
  font-size: 16px;
  text-decoration: none;
  margin-right: 15px;
}

.current-user-nav-cta > .current-user-nav-link:last-child {
  margin-right: 0;
}
