.product-card {
  border: 1px solid #dadada;
  border-radius: 4px;
  background-color: #ffffff;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}

.product-card > * {
  border-bottom: 1px solid #dadada;
  width: 100%;
}

.product-card > *:last-child {
  border-bottom: 0 none;
}

.user-is-onboarding .card-actions .like-button,
.user-is-onboarding .card-actions .share-button {
  display: none;
}

.product-card:not(.product-card--display-only):hover .card-actions-overlay,
.product-card:not(.product-card--display-only):active .card-actions-overlay {
  display: block;
}

.user-is-onboarding .card-actions,
.product-card--popup-open .card-actions,
.product-card:not(.product-card--display-only):hover .card-actions,
.product-card:not(.product-card--display-only):active .card-actions,
.product-card.product-card--can-remove:not(.product-card--display-only):hover .like-button,
.product-card.product-card--can-remove:not(.product-card--display-only):active .like-button,
.user-is-onboarding .product-card:not(.product-card--display-only):hover .card-actions .like-button,
.user-is-onboarding .product-card:not(.product-card--display-only):active .card-actions .like-button,
.user-is-onboarding .product-card:not(.product-card--display-only):hover .card-actions .share-button,
.user-is-onboarding .product-card:not(.product-card--display-only):active .card-actions .share-button {
  display: flex;
}

.product-card--popup-open .product-card-overlay {
  display: block;
}

.product-card--popup-open:hover .card-actions-overlay,
.product-card--popup-open:active .card-actions-overlay {
  opacity: 0;
}

.product-card--can-remove .card-actions--left {
  display: flex;
}

.product-card--can-remove .like-button {
  display: none;
}

.product-card-overlay {
  border: 0 none;
  background-color: rgba(0, 0, 0, 0.055);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: none;
  position: absolute;
}

.product-card-image-container,
.product-card-add-icon-container {
  border-radius: 4px 4px 0 0;
  flex: 1;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  position: relative;
  align-self: stretch;
  min-height: 265px;
  align-items: stretch;
  justify-content: center;
}

.product-card-image-container--loading {
  align-items: center;
}

.product-card-image {
  background-size: contain;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: 50%;
  width: 100%;
  z-index: 1;
  position: relative;
}

.product-card-price,
.product-card-price:active {
  background-color: #ffffff;
  font-size: 13px;
  font-weight: 600;
  width: auto;
  right: 10px;
  bottom: 10px;
  padding: 2px 6px;
  z-index: 5;
  position: absolute;
  min-height: 28px;
}

.product-card-price .icon {
  margin-right: 5px;
}

.product-card-designer {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: flex-start;
}

.product-card-designer-avatar {
  margin-right: 10px;
}

.product-card-designer-name {
  color: #999999;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.product-card-designer-link {
  text-decoration: none;
  display: flex;
  margin-left: 5px;
  align-items: center;
  justify-content: flex-start;
}

.product-card-designer-link .user-curator-badge {
  margin-left: 2px;
}

.product-card-add,
.product-card-add:hover,
.product-card-add:active {
  text-decoration: none;
}

.product-card-add:hover,
.product-card-add:active {
  color: #ffffff;
  border-color: #27bf67;
  background-color: #2ecc71;
}

.product-card-add:hover .icon-fill,
.product-card-add:active .icon-fill {
  fill: #ffffff;
}

.product-card-add-icon-container {
  align-items: center;
  flex-direction: column;
}

.product-card-add-icon {
  margin-bottom: 15px;
}

.product-card-add-message {
  font-size: 20px;
  text-align: center;
}

.card-subtitle--placeholder {
  background-color: #e5e5e5;
  width: 25%;
  height: 13px;
  margin-bottom: 5px;
}

.card-title--placeholder::after,
.card-title--placeholder::before {
  content: "";
  background-color: #e5e5e5;
  width: 95%;
  height: 13px;
  display: block;
}

.card-title--placeholder::before {
  margin-bottom: 5px;
}

.card-title--placeholder::after {
  width: 55%;
}

.card-tag--placeholder {
  border-color: #e5e5e5;
  background-color: #e5e5e5;
  width: 65px;
  height: 20px;
}

.product-card-designer-avatar--placeholder {
  width: 26px;
  height: 26px;
  background-color: #e5e5e5;
}

.product-card-designer-name--placeholder {
  background-color: #e5e5e5;
  width: 75%;
  height: 13px;
}
