.product-card {
  border: 1px solid #dadada;
  border-radius: 4px;
  background-color: #ffffff;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}

.product-card > * {
  border-bottom: 1px solid #dadada;
  width: 100%;
}

.product-card > *:last-child {
  border-bottom: 0 none;
}

.product-card:not(.product-card--display-only):hover .card-actions-overlay {
  display: block;
}

.product-card:not(.product-card--display-only):hover .card-actions,
.product-card--popup-open .card-actions {
  display: flex;
}

.product-card--popup-open .product-card-overlay {
  display: block;
}

.product-card--popup-open:hover .card-actions-overlay {
  opacity: 0;
}

.product-card-overlay {
  border: 0 none;
  background-color: rgba(0, 0, 0, 0.055);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: none;
  position: absolute;
}

.product-card-image-container {
  border-radius: 4px 4px 0 0;
  flex: 1;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  position: relative;
  align-self: stretch;
  min-height: 265px;
  align-items: stretch;
  justify-content: center;
}

.product-card-image-container--loading {
  align-items: center;
}

.product-card-image {
  background-size: contain;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: 50%;
  width: 100%;
  z-index: 1;
  position: relative;
}

.product-card-price,
.product-card-price:active {
  background-color: #ffffff;
  font-size: 13px;
  font-weight: 600;
  width: auto;
  right: 10px;
  bottom: 10px;
  padding: 2px 6px;
  z-index: 5;
  position: absolute;
  min-height: 28px;
}

.product-card-price .icon {
  margin-right: 5px;
}

.product-card-designer {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: flex-start;
}

.product-card-designer-avatar {
  margin-right: 10px;
}

.product-card-designer-name {
  color: #999999;
  font-size: 16px;
}

.product-card-designer-link {
  text-decoration: none;
}
