#page-product-detail {
  background-color: #fefefe;
}

#page-product-detail .grids > .grid-container {
  background-color: #fefefe;
}

#page-product-detail .grids > .grid-container:last-child {
  border-bottom: 1px solid #e5e5e5;
}

#page-product-detail #comments {
  width: 100%;
  margin: 0 auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.product-detail {
  border-bottom: 1px solid #e5e5e5;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-detail-inner {
  width: 100%;
  display: flex;
  max-width: 1024px;
  align-items: stretch;
}

.product-detail-content,
.product-detail-image-container {
  padding: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.product-detail-image-container {
  width: 55%;
  position: relative;
  min-height: 350px;
  align-items: center;
  justify-content: center;
}

[data-action="editProduct"] {
  top: 0;
  left: 0;
  z-index: 10;
  position: absolute;
}

.product-detail-image {
  background-color: #fafafa;
  width: 100%;
  height: auto;
  z-index: 1;
  position: relative;
  max-width: 100%;
  max-height: 100%;
}

.product-detail-content {
  width: 45%;
}

.product-detail-name {
  font-size: 22px;
  line-height: 32px;
  margin: 0 0 5px;
}

.product-detail-brand {
  color: #999999;
  font-size: 14px;
  margin: 0;
}

.product-detail-tags {
  margin: 20px 0 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.product-detail-tag {
  margin: 10px 10px 0 0;
}

.product-detail-url,
.product-detail-likes,
.product-detail-comments,
.product-detail-activity {
  margin: 30px 0 0;
}

.product-detail-actions {
  margin: 15px 0 0;
}

.product-detail-url,
.product-detail-tags,
.product-detail-name,
.product-detail-brand,
.product-detail-likes,
.product-detail-actions,
.product-detail-comments {
  width: 100%;
}

.product-detail-curator {
  color: #999999;
}

.product-detail-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-detail-action {
  width: calc(100% / 3 - 10px);
  position: relative;
}

.product-detail-action > .button {
  width: 100%;
}

.product-detail-action .icon {
  margin-right: 5px;
}

.product-detail-action > .share-popup {
  top: calc(100% + 15px);
  right: 0;
  width: 300px;
}

.product-detail-info-container {
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.product-detail-info-container--has-both .product-detail-info {
  width: 50%;
}

.product-detail-info-container--has-both > .product-detail-info:first-child {
  border-right: 1px solid #e5e5e5;
}

.product-detail-info {
  text-align: center;
  display: flex;
  padding: 35px;
  align-items: center;
  flex-direction: column;
}

.product-detail-info-title {
  font-size: 28px;
  margin: 0 auto;
}

.product-detail-info-text {
  font-size: 18px;
  line-height: 28px;
  white-space: pre-line;
  max-width: 1024px;
}

.product-detail-info-button {
  margin: 0 auto;
}

.product-detail-activity {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.product-detail-activity-users {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: -10px;
  justify-content: flex-start;
}

.product-detail-activity-user {
  text-decoration: none;
  position: relative;
  margin-right: 10px;
  margin-bottom: 10px;
}

.product-detail-activity-user:hover,
.product-detail-activity-user:active {
  text-decoration: none;
}

.product-detail-activity-icon-container {
  border: 2px solid #ffffff;
  border-radius: 50%;
  display: flex;
  right: -6px;
  width: 22px;
  height: 22px;
  bottom: -6px;
  position: absolute;
  align-items: center;
  justify-content: center;
}

.product-detail-activity-user[data-activity="like"] .product-detail-activity-icon-container {
  background-color: #e74c3c;
}

.product-detail-activity-user[data-activity="comment"] .product-detail-activity-icon-container {
  background-color: #439fe0;
}

.product-detail-activity-icon .icon-fill {
  fill: #ffffff;
}

.product-detail-activity-count {
  color: #999999;
  font-size: 16px;
  text-align: center;
  font-weight: 500;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .product-detail {
    padding: 0;
  }

  .product-detail-inner {
    flex-direction: column;
  }

  .product-detail-content,
  .product-detail-image-container {
    width: 100%;
    padding: 15px;
  }

  #page-product-detail #comments {
    padding: 15px 0;
  }

  .product-detail-tags {
    margin: 5px 0 0;
  }

  .product-detail-tag {
    margin: 10px 10px 0 0;
  }

  .product-detail-url {
    margin: 15px 0 0;
  }

  .product-detail-actions {
    margin: 15px 0 0;
  }

  .product-detail-url,
  .product-detail-action {
    font-size: 16px;
  }

  .product-detail-action .icon {
    margin-right: 5px;
  }

  .product-detail-actions {
    flex-direction: column;
  }

  .product-detail-action {
    width: 100%;
    margin-bottom: 15px;
  }

  .product-detail-actions > .product-detail-action:last-child {
    margin-bottom: 0;
  }

  [data-action="editProduct"] {
    display: none;
  }

  .product-detail-info-container {
    flex-direction: column;
  }

  .product-detail-info-container--has-both > .product-detail-info {
    width: 100%;
  }

  .product-detail-info-container--has-both > .product-detail-info:first-child {
    border-right: 0 none;
    border-bottom: 1px solid #e5e5e5;
  }
}
