#page-product-detail {
  background-color: #fefefe;
}

#page-product-detail .grids > .grid-container {
  background-color: #fefefe;
}

#page-product-detail .grids > .grid-container:last-child {
  border-bottom: 1px solid #e5e5e5;
}

#page-product-detail #comments {
  width: 100%;
  margin: 0 auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.product-detail {
  border-bottom: 1px solid #e5e5e5;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-detail-inner {
  width: 100%;
  display: flex;
  max-width: 960px;
  align-items: stretch;
}

.product-detail-content,
.product-detail-image-container {
  padding: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.product-detail-image-container {
  width: 50%;
  position: relative;
  min-height: 350px;
  align-items: center;
  justify-content: center;
}

[data-action="editProduct"] {
  top: 0;
  left: 0;
  z-index: 10;
  position: absolute;
}

.product-detail-image {
  background-color: #fafafa;
  width: 100%;
  height: auto;
  z-index: 1;
  position: relative;
  max-width: 100%;
  max-height: 100%;
}

.product-detail-content {
  width: 50%;
}

.product-detail-name {
  font-size: 22px;
  line-height: 32px;
  margin: 0 0 5px;
}

.product-detail-brand {
  color: #999999;
  font-size: 14px;
  text-transform: uppercase;
  margin: 0;
}

.product-detail-tags {
  margin: 20px 0 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.product-detail-tag {
  margin: 10px 10px 0 0;
}

.product-detail-description-container {
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  padding: 35px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.product-detail-description-title {
  font-size: 28px;
  margin: 0 auto;
}

.product-detail-description {
  font-size: 16px;
  line-height: 24px;
  white-space: pre-line;
  max-width: 960px;
}

.product-detail-url,
.product-detail-curator,
.product-detail-description {
  margin: 30px 0 0;
}

.product-detail-likes,
.product-detail-actions,
.product-detail-comments {
  margin: 15px 0 0;
}

.product-detail-url,
.product-detail-tags,
.product-detail-name,
.product-detail-brand,
.product-detail-likes,
.product-detail-actions,
.product-detail-curator,
.product-detail-comments,
.product-detail-description {
  width: 100%;
}

.product-detail-curator {
  text-decoration: none;
}

.product-detail-curator:hover,
.product-detail-curator:active {
  text-decoration: none;
}

.product-detail-curator:hover .card-avatars-count,
.product-detail-curator:active .card-avatars-count {
  text-decoration: underline;
}

.product-detail-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-detail-action {
  width: calc(100% / 3 - 10px);
  position: relative;
}

.product-detail-action > .button {
  width: 100%;
}

.product-detail-action > .share-popup {
  top: calc(100% + 15px);
  right: 0;
  width: 300px;
}

@media (max-width: 768px) {
  .product-detail {
    padding: 0;
  }

  .product-detail-inner {
    flex-direction: column;
  }

  .product-detail-content,
  .product-detail-image-container {
    width: 100%;
    padding: 15px;
  }

  #page-product-detail #comments {
    padding: 15px 0;
  }

  .product-detail-tags {
    margin: 5px 0 0;
  }

  .product-detail-tag {
    margin: 10px 10px 0 0;
  }

  .product-detail-description-container {
    padding: 15px;
  }

  .product-detail-description-title {
    font-size: 22px;
  }

  .product-detail-url,
  .product-detail-curator,
  .product-detail-description {
    margin: 15px 0 0;
  }

  .product-detail-likes,
  .product-detail-actions,
  .product-detail-comments {
    margin: 15px 0 0;
  }

  .product-detail-url,
  .product-detail-action {
    font-size: 16px;
  }

  .product-detail-action .icon {
    margin-right: 5px;
  }

  .product-detail-actions {
    flex-direction: column;
  }

  .product-detail-action {
    width: 100%;
    margin-bottom: 15px;
  }

  .product-detail-actions > .product-detail-action:last-child {
    margin-bottom: 0;
  }

  [data-action="editProduct"] {
    display: none;
  }
}
