#page-product-detail {
  background-color: #fefefe;
}

#page-product-detail .sticky-inner--active {
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid #d0d0d0;
  background-color: #ffffff;
  padding: 5px 10px;
  display: flex;
  min-height: 78px;
  align-items: center;
}

#page-product-detail .sticky-inner--active [data-action="editProduct"],
#page-product-detail .sticky-inner--active .product-detail-activity,
#page-product-detail .sticky-inner--active .product-detail-tags,
#page-product-detail .sticky-inner--active .product-detail-actions,
#page-product-detail .sticky-inner--active .product-detail-url-text-full {
  display: none;
}

#page-product-detail .sticky-inner--active .product-detail {
  border-bottom: 0 none;
  padding: 0;
}

#page-product-detail .sticky-inner--active .product-detail-inner {
  max-width: 100%;
  align-items: center;
  flex-direction: row;
}

#page-product-detail .sticky-inner--active .product-detail-image-container {
  width: 60px;
  height: 60px;
  padding: 0;
  min-height: 60px;
  margin-right: 15px;
}

#page-product-detail .sticky-inner--active .product-detail-image {
  max-width: 100% !important;
  max-height: 100% !important;
}

#page-product-detail .sticky-inner--active .product-detail-content {
  width: calc(100% - 60px);
  padding: 0;
}

#page-product-detail .sticky-inner--active .product-detail-name {
  font-size: 18px;
  overflow: hidden;
  line-height: 28px;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 95px;
  margin-bottom: 0;
}

#page-product-detail .sticky-inner--active .product-detail-brand {
  font-size: 13px;
}

#page-product-detail .sticky-inner--active .product-detail-url {
  font-size: 13px;
  top: 50%;
  right: 10px;
  width: auto;
  margin: 0;
  padding: 4px 6px;
  position: absolute;
  transform: translateY(-50%);
  min-height: inherit;
}

#page-product-detail .sticky-inner--active .product-detail-url .icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

#page-product-detail .sticky-inner--active .product-detail-url-text {
  display: flex;
}

#page-product-detail .sticky-placeholder {
  border-bottom: 1px solid #e5e5e5;
}

#page-product-detail .grids > .grid-container {
  background-color: #fefefe;
}

#page-product-detail .grids > .grid-container:last-child {
  border-bottom: 1px solid #e5e5e5;
}

#page-product-detail #comments {
  width: 100%;
  margin: 0 auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.product-detail {
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  padding: 35px;
  align-items: center;
  justify-content: center;
}

.product-detail-inner {
  width: 100%;
  display: flex;
  max-width: 1024px;
  align-items: stretch;
}

.product-detail-content,
.product-detail-image-container {
  padding: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.product-detail-image-container {
  width: 50%;
  position: relative;
  align-items: center;
  justify-content: center;
}

[data-action="editProduct"] {
  top: 0;
  left: 0;
  z-index: 10;
  position: absolute;
}

.product-detail-image {
  background-color: #fafafa;
  width: auto;
  height: auto;
  z-index: 1;
  position: relative;
  max-width: 100%;
  max-height: 100%;
}

.product-detail-content {
  width: 50%;
}

.product-detail-name {
  font-size: 22px;
  line-height: 32px;
  margin: 0 0 5px;
}

.product-detail-brand {
  color: #999999;
  font-size: 14px;
  margin: 0;
}

.product-detail-tags {
  margin: 20px 0 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.product-detail-tag {
  margin: 10px 10px 0 0;
}

.product-detail-url,
.product-detail-likes,
.product-detail-comments,
.product-detail-activity {
  margin: 30px 0 0;
}

.product-detail-url-text {
  display: none;
}

.product-detail-actions {
  margin: 15px 0 0;
}

.product-detail-url,
.product-detail-tags,
.product-detail-name,
.product-detail-brand,
.product-detail-likes,
.product-detail-actions,
.product-detail-comments {
  width: 100%;
}

.product-detail-curator {
  color: #999999;
}

.product-detail-actions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.product-detail-action {
  width: calc(100% / 2 - 7.5px);
  position: relative;
}

.product-detail-action > .button {
  width: 100%;
}

.product-detail-action .icon {
  margin-right: 5px;
}

.product-detail-action > .share-popup {
  top: calc(100% + 15px);
  right: 0;
  width: 300px;
}

.product-detail-actions .collect-button {
  width: 100%;
  flex-shrink: 0;
  margin-bottom: 15px;
}

.product-detail-info-container {
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: center;
}

.product-detail-info-container--has-both > .product-detail-info:first-child {
  border-bottom: 1px solid #e5e5e5;
}

.product-detail-info {
  text-align: center;
  display: flex;
  padding: 35px;
  align-items: center;
  flex-direction: column;
}

.product-detail-info-title {
  font-size: 28px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 auto;
  max-width: 960px;
}

.product-detail-info-text {
  font-size: 18px;
  line-height: 28px;
  white-space: pre-line;
  margin: 15px auto 5px;
  max-width: 960px;
}

.product-detail-info-button {
  margin: 0 auto;
  max-width: 280px;
}

.product-detail-info--has-images {
  padding: 0;
  display: flex;
  align-items: stretch;
}

.product-detail-info-images {
  width: 100%;
  display: flex;
  min-height: 420px;
  align-items: stretch;
  justify-content: center;
}

.product-detail-info-images-grid {
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.product-detail-info-image {
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  min-height: 420px;
}

.product-detail-info-images-grid .product-detail-info-image {
  height: 100%;
}

.product-detail-info-images[data-images="3"] .product-detail-info-images-grid .product-detail-info-image {
  height: 50%;
  min-height: 50%;
}

.product-detail-info-images[data-images="3"] > .product-detail-info-image {
  width: 65%;
}

.product-detail-info-images[data-images="3"] .product-detail-info-images-grid {
  width: 35%;
}

.product-detail-info--has-images .product-detail-info-content {
  width: 100%;
  padding: 30px;
}

.product-detail-activity {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.product-detail-activity-users {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: -10px;
  justify-content: flex-start;
}

.product-detail-activity-user {
  text-decoration: none;
  position: relative;
  margin-right: 10px;
  margin-bottom: 10px;
}

.product-detail-activity-user:hover,
.product-detail-activity-user:active {
  text-decoration: none;
}

.product-detail-activity-icon-container {
  border: 2px solid #ffffff;
  border-radius: 50%;
  display: flex;
  right: -6px;
  width: 22px;
  height: 22px;
  bottom: -6px;
  position: absolute;
  align-items: center;
  justify-content: center;
}

.product-detail-activity-user[data-activity="like"] .product-detail-activity-icon-container {
  background-color: #e74c3c;
}

.product-detail-activity-user[data-activity="comment"] .product-detail-activity-icon-container {
  background-color: #439fe0;
}

.product-detail-activity-icon .icon-fill {
  fill: #ffffff;
}

.product-detail-activity-count {
  color: #999999;
  font-size: 16px;
  text-align: center;
  font-weight: 500;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-detail-comment-cta {
  border-bottom: 1px solid #e5e5e5;
  background-color: #fafafa;
  font-size: 22px;
  text-decoration: none;
  width: 100%;
  padding: 25px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-detail-comment-cta:hover {
  text-decoration: none;
}

.product-detail-comment-cta .icon {
  margin-right: 15px;
}

@media (max-width: 768px) {
  #page-product-detail .sticky-inner--active .product-detail-content {
    width: 100%;
  }

  #page-product-detail .sticky-inner--active .product-detail-image-container {
    min-width: 60px;
  }

  #page-product-detail .sticky-inner--active .product-detail-name,
  #page-product-detail .sticky-inner--active .product-detail-brand {
    display: none;
  }

  #page-product-detail .sticky-inner--active .product-detail-url {
    width: calc(100% - 95px);
    min-height: 40px;
  }

  .product-detail {
    padding: 0;
  }

  .product-detail-inner {
    flex-direction: column;
  }

  .product-detail-content,
  .product-detail-image-container {
    width: 100%;
    padding: 15px;
  }

  .product-detail-image {
    width: 100%;
    height: auto;
  }

  #page-product-detail #comments {
    padding: 15px 0;
  }

  .product-detail-tags {
    margin: 15px 0 0;
  }

  .product-detail-tag {
    margin: 5px 5px 0 0;
  }

  .product-detail-url,
  .product-detail-activity {
    margin: 15px 0 0;
  }

  .product-detail-url,
  .product-detail-action {
    font-size: 16px;
    min-height: 45px;
  }

  .product-detail-action .icon {
    margin-right: 5px;
  }

  .product-detail-actions {
    margin-top: 10px;
    flex-direction: column;
  }

  .product-detail-action {
    width: 100%;
    margin-bottom: 10px;
  }

  .product-detail-actions > .product-detail-action:last-child {
    margin-bottom: 0;
  }

  [data-action="editProduct"] {
    display: none;
  }

  .product-detail-info {
    padding: 15px;
  }

  .product-detail-info-container {
    flex-direction: column;
  }

  .product-detail-info-container--has-both > .product-detail-info {
    width: 100%;
  }

  .product-detail-info-container--has-both > .product-detail-info:first-child {
    border-right: 0 none;
    border-bottom: 1px solid #e5e5e5;
  }

  .product-detail-info-images {
    flex-direction: column;
  }

  .product-detail-info-image,
  .product-detail-info-images {
    min-height: 320px;
  }

  .product-detail-info-images-grid {
    flex-direction: row;
  }

  .product-detail-info-images-grid,
  .product-detail-info-images-grid .product-detail-info-image {
    min-height: 150px !important;
  }

  .product-detail-info-images[data-images="3"] > .product-detail-info-image,
  .product-detail-info-images[data-images="3"] .product-detail-info-images-grid {
    width: 100%;
  }

  .product-detail-info-images[data-images="3"] .product-detail-info-images-grid .product-detail-info-image {
    width: 50%;
  }
}
