.mini-card .product-card-image-container {
  min-height: 140px;
}

.mini-card .product-title {
  border-bottom: 0 none;
}

.mini-card .card-title {
  font-size: 14px;
}

.mini-card .card-subtitle {
  font-size: 11px;
}

.mini-card .product-card-price,
.mini-card .product-card-designer {
  font-size: 12px;
  min-height: 24px;
}

.mini-card .product-card-designer-name {
  font-size: 12px;
}

.mini-card .product-card-designer {
  padding: 2px 6px;
}

.mini-card .user-avatar-image,
.mini-card .user-avatar-initials {
  width: 16px !important;
  height: 16px !important;
}

.mini-card .product-card-price .icon {
  display: none;
}

@media (max-width: 736px) {
  .mini-card .product-card-actions,
  .mini-card .product-card-designer {
    display: none;
  }

  .mini-card .product-card-image-container {
    padding-top: 10px !important;
  }
}
