.comment {
  display: flex;
  align-items: flex-start;
  margin-bottom: 25px;
  justify-content: flex-start;
}

.comment-left {
  width: 52px;
  margin-right: 10px;
}

.comment-right {
  flex: 1;
  width: 100%;
}

.comment-author-name {
  color: #439fe0;
  text-decoration: none;
}

.comment-author-name:hover,
.comment-author-name:active {
  color: #439fe0;
}

.comment-content {
  white-space: pre-wrap;
  width: 100%;
  margin: 0 0 5px;
}

.comment-date,
.comment-likes {
  color: #999999;
}

.comment-actions {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.comment-action:after {
  content: "·";
  margin: 0 5px;
}

.comment-action-like,
.comment-action-like:hover,
.comment-action-like:active,
.comment-action-like.like-button--liked {
  color: #555555;
  border: 0 none;
  padding: 0;
  min-height: inherit;
}

.comment-action-like.like-button--liked {
  background-color: transparent;
}

.comment-action-like:hover {
  color: #e74c3c;
  background-color: transparent;
}

.comment-action-like:hover .icon-fill,
.comment-action-like.like-button--liked .icon-fill {
  fill: #e74c3c;
}

.comment-action-like .icon {
  width: 16px;
  height: 16px;
}

.comment-action-like .button-text:after {
  font-size: 14.4px;
}

.comment-action[data-action="deleteComment"] {
  color: #fb5465;
  text-decoration: none;
}

.comment-action[data-action="deleteComment"]:hover {
  color: #e34c5b;
  text-decoration: underline;
}

.comment-actions-left,
.comment-actions-right {
  display: flex;
  align-items: center;
}

.comment-actions-left > .comment-action:last-child:after,
.comment-actions-right > .comment-action:last-child:after {
  display: none;
}
