.page-crud-brand {
  background-color: #f8f8f8;
}

.page-crud-brand .page-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand-form-container {
  width: 100%;
}

.brand-form {
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  background-color: #ffffff;
  width: 100%;
  margin: 30px auto;
  display: flex;
  padding: 30px;
  max-width: 620px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
