.page-crud-color {
  background-color: #f8f8f8;
}

.page-crud-color .page-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-form-container {
  width: 100%;
}

.color-form {
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  background-color: #ffffff;
  width: 100%;
  margin: 30px auto;
  display: flex;
  max-width: 620px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.color-form > .form-group {
  margin: 0 auto;
  padding: 0 30px 30px;
}
