.button-unstyled {
  cursor: pointer;
  border: 0 none;
  text-decoration: none;
  background-color: transparent;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-unstyled:disabled,
.button-unstyled[disabled] {
  opacity: 0.45;
  pointer-events: none;
}

.button {
  color: #555555;
  cursor: pointer;
  border: 1px solid #ececec;
  border-radius: 4px;
  background-color: #ececec;
  text-align: center;
  text-decoration: none;
  display: flex;
  padding: 10px 15px;
  min-height: 47px;
  align-items: center;
  justify-content: center;
}

.button:active {
  color: #555555;
  border: 1px solid #ececec;
  background-color: #ececec;
}

.button:hover {
  color: #555555;
  border-color: #dedede;
  background-color: #dedede;
  text-decoration: none;
}

.button:disabled,
.button[disabled] {
  opacity: 0.45;
  pointer-events: none;
}

.button--small {
  font-size: 16px;
  padding: 5px 12px 6px;
  min-height: 40px;
}

.button--tiny {
  font-size: 14px;
  padding: 5px 10px 6px;
  min-height: auto;
}

.button--mini {
  font-size: 12px;
  padding: 2px 6px 3px;
  min-height: auto;
}

.button .icon {
  flex-shrink: 0;
  margin-right: 10px;
}

.button--icon-right .icon {
  margin-left: 10px;
  margin-right: 0;
}

.button--tiny .icon,
.button--small .icon {
  width: 18px;
  height: 18px;
}

.button--tiny .icon,
.button--small .icon {
  margin-right: 5px;
}

.button--tiny.button--icon-right .icon {
  margin-left: 5px;
}

.button--mini .icon {
  margin-right: 4px;
}

.button--mini.button--icon-right .icon {
  margin-left: 4px;
}

.button-text {
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button--icon .icon {
  margin: 0 auto;
}

.button--outline,
.button--outline:active {
  border-color: #dadada;
  background-color: transparent;
}

.button--outline:hover {
  border-color: #ececec;
  background-color: #ececec;
}

.button--transparent,
.button--transparent:active {
  border-color: transparent;
  background-color: transparent;
}

.button--transparent:hover {
  border-color: transparent;
  background-color: transparent;
}

.button--link,
.button--link:active {
  border-color: transparent;
  background-color: transparent;
}

.button--link:hover {
  border-color: #f5f5f5;
  background-color: #f5f5f5;
}

.button--primary,
.button--primary:active,
.follow-button--following,
.follow-button--following:active {
  color: #ffffff;
  border-color: #2ecc71;
  background-color: #2ecc71;
}

.button--primary:hover,
.follow-button--following:hover {
  color: #ffffff;
  border-color: #27bf67;
  background-color: #27bf67;
}

.button--primary .icon-fill,
.follow-button--following .icon-fill {
  fill: #ffffff;
}

.button--primary-outline:not(.follow-button--following),
.button--primary-outline:not(.follow-button--following):active {
  color: #2ecc71;
  border-color: #2ecc71;
  background-color: #ffffff;
}

.button--primary-outline:not(.follow-button--following):hover {
  color: #ffffff;
  border-color: #2ecc71;
  background-color: #2ecc71;
}

.button--primary-outline:not(.follow-button--following) .icon-fill,
.button--primary-outline:not(.follow-button--following):active .icon-fill {
  fill: #2ecc71;
}

.button--primary-outline:not(.follow-button--following):hover .icon-fill {
  fill: #ffffff;
}

.button--primary-alt,
.button--primary-alt:active {
  color: #ffffff;
  border-color: #439fe0;
  background-color: #439fe0;
}

.button--primary-alt:hover {
  color: #ffffff;
  border-color: #3f95d2;
  background-color: #3f95d2;
}

.button--primary-alt .icon-fill {
  fill: #ffffff;
}

.button--danger,
.button--danger:active {
  color: #ffffff;
  border-color: #fb5465;
  background-color: #fb5465;
}

.button--danger:hover {
  color: #ffffff;
  border-color: #e34c5b;
  background-color: #e34c5b;
}

.button--danger .icon-fill {
  fill: #ffffff;
}

.button--facebook,
.button--facebook:active {
  color: #ffffff;
  border-color: #4e69a2;
  background-color: #4e69a2;
}

.button--facebook:hover {
  color: #ffffff;
  border-color: #466098;
  background-color: #466098;
}

.button--facebook .icon-fill {
  fill: #fff;
}

.button--twitter,
.button--twitter:active {
  color: #ffffff;
  border-color: #55acee;
  background-color: #55acee;
}

.button--twitter:hover {
  color: #ffffff;
  border-color: #4fa4e4;
  background-color: #4fa4e4;
}

.button--twitter .icon-fill {
  fill: #fff;
}

.share-button,
.collect-button,
.like-button--white {
  border-color: #dadada;
  background-color: #ffffff;
}

.share-button .icon-fill,
.space-detail-action [data-action="share"] .icon-fill,
.category-detail-action [data-action="share"] .icon-fill,
.spaceType-detail-action [data-action="share"] .icon-fill {
  fill: #439fe0;
}

.collect-button .icon-fill {
  fill: #2ECC71;
}

.like-button .icon-fill,
.like-button--white .icon-fill {
  fill: #e74c3c;
}

.share-button:hover,
.share-button:active,
.space-detail-action [data-action="share"]:hover,
.space-detail-action [data-action="share"]:active,
.category-detail-action [data-action="share"]:hover,
.category-detail-action [data-action="share"]:active,
.spaceType-detail-action [data-action="share"]:hover,
.spaceType-detail-action [data-action="share"]:active {
  color: #ffffff;
  border-color: #439fe0;
  background-color: #439fe0;
}

.collect-button:hover,
.collect-button:active {
  color: #ffffff;
  border-color: #2ECC71;
  background-color: #2ECC71;
}

.like-button:hover,
.like-button:active,
.like-button--liked,
.like-button--liked:hover,
.like-button--liked:active,
.like-button--white:hover,
.like-button--white:active {
  color: #ffffff;
  border-color: #e74c3c;
  background-color: #e74c3c;
}

.share-button:hover .icon-fill,
.share-button:active .icon-fill,
.collect-button:hover .icon-fill,
.collect-button:active .icon-fill,
.like-button:hover .icon-fill,
.like-button:active .icon-fill,
.like-button--liked .icon-fill,
.like-button--liked:hover .icon-fill,
.like-button--liked:active .icon-fill,
.like-button--white:hover .icon-fill,
.like-button--white:active .icon-fill,
.space-detail-action [data-action="share"]:hover .icon-fill,
.space-detail-action [data-action="share"]:active .icon-fill,
.category-detail-action [data-action="share"]:hover .icon-fill,
.category-detail-action [data-action="share"]:active .icon-fill,
.spaceType-detail-action [data-action="share"]:hover .icon-fill,
.spaceType-detail-action [data-action="share"]:active .icon-fill {
  fill: #ffffff;
}

.like-button--show-text .button-text::after {
  content: "Like"
}

.like-button--liked.like-button--show-text .button-text::after {
  content: "Liked"
}

.like-button--liked.like-button--show-text:hover .button-text::after,
.like-button--liked.like-button--show-text:active .button-text::after {
  content: "Unlike"
}

.follow-button.follow-button--following:hover {
  color: #ffffff;
  border-color: #e74c3c;
  background-color: #e74c3c;
}

.follow-button--show-text .button-text::after {
  content: "Follow"
}

.follow-button--following.follow-button--show-text .button-text::after {
  content: "Following"
}

.follow-button--following.follow-button--show-text:hover .button-text::after,
.follow-button--following.follow-button--show-text:active .button-text::after {
  content: "Unfollow"
}
