.page-title {
  text-align: center;
  font-weight: 300;
  width: 100%;
  margin: 35px auto;
  padding: 0 35px;
  max-width: 960px;
}

@media (max-width: 768px) {
  .page-title {
    font-size: 26px;
    margin: 15px auto;
    padding: 15px;
  }

  .page-title--has-top-margin {
    margin-top: 15px;
  }

  .page-title--has-margin {
    margin-bottom: 15px;
  }
}
