.dropdown {
  position: relative;
}

.dropdown--active > .dropdown-trigger {
  border-color: #e0e0e0;
}

.dropdown-trigger {
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.dropdown-trigger:hover,
.dropdown-trigger:active {
  text-decoration: none;
}

.dropdown-trigger:after {
  content: "";
  border-top: 8px solid #d8d8d8;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
  margin-left: 10px;
}

.dropdown-trigger--no-caret:after {
  display: none;
}

.avatar {
  cursor: pointer;
}

.dropdown-content {
  border: 1px solid #e0e0e0;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.055);
  border-radius: 4px;
  background-color: #ffffff;
  top: calc(100% + 5px);
  right: 0;
  z-index: 1000;
  min-width: 200px;
}

.dropdown-content > .dropdown-link:first-child {
  border-radius: 4px 4px 0 0;
}

.dropdown-content > .dropdown-link:last-child {
  border-radius: 0 0 4px 4px;
  border-bottom: 0 none;
}

.dropdown-link {
  cursor: pointer;
  border: 0 none;
  border-bottom: 1px solid #e0e0e0;
  background-color: #ffffff;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.15s linear;
  width: 100%;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown-link:hover,
.dropdown-link:active {
  color: #666666;
  background-color: #f8f8f8;
  text-decoration: none;
}

.dropdown-link .icon-fill {
  fill: #999999;
}
