.notification {
  color: #ffffff;
  background-color: #439fe0;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 15px;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}

.notification--default {
  background-color: #439fe0;
}

.notification .icon-fill {
  fill: #ffffff;
}

.notification--success {
  background-color: #2ecc71;
}

.notification--success .icon-fill {
  fill: #ffffff;
}

.notification--error {
  color: #ffffff;
  background-color: #fb5465;
}

.notification--error .icon-fill {
  fill: #ffffff;
}

.notification--error a,
.notification--success a {
  color: #ffffff;
}

.notification-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notification-close,
.notification-close:active {
  padding: 0;
  min-height: inherit;
  margin-left: 5px;
}
