.popup {
  border: 1px solid #dadada;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #ffffff;
  display: none;
  z-index: 100;
  position: absolute;
}

.popup:after,
.popup:before {
  content: "";
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #dadada;
  top: -11px;
  right: 15px;
  z-index: 1;
  position: absolute;
}

.popup:before {
  border-bottom-color: #ffffff;
  top: -9.7px;
  z-index: 2;
}

.popup--is-open {
  display: block;
}

.popup-title-container {
  border-bottom: 1px solid #dadada;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popup-close-button {
  padding: 0;
  min-height: auto;
}

.popup-item {
  border-bottom: 1px solid #dadada;
  width: 100%;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.popup-item--clickable {
  cursor: pointer;
  border: 0 none;
  border-bottom: 1px solid #dadada;
  background-color: #ffffff;
  transition: opacity 0.15s linear, background-color 0.15s linear;
  text-decoration: none;
}

.popup-item--clickable:hover,
.popup-item--clickable:active {
  background-color: #fafafa;
  text-decoration: none;
}

.popup-item--clickable:disabled {
  opacity: 0.45;
  pointer-events: none;
}

.popup-list--is-last,
.popup-item--is-last,
.popup-list--is-last > .popup-item:last-child {
  border-bottom: 0;
  border-radius: 0 0 4px 4px;
}

.popup-item-icon-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.popup-item-icon {
  flex-shrink: 0;
  margin-right: 10px;
}
