.table-container {
  width: 100%;
  padding: 30px;
}

.table-header {
  border-bottom: 1px solid #d5d5d5;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  padding-bottom: 30px;
  justify-content: space-between;
}

.table-header-title {
  font-size: 36px;
  font-weight: 300;
  width: 40%;
  margin: 0;
}

.table-header-title > small {
  font-size: 18px;
  font-weight: 600;
}

.table-header-actions {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.table-header-actions > .textfield {
  flex: 1;
  margin-right: 15px;
}

.table-content {
  overflow-x: scroll;
}

.table {
  border-spacing: 0;
  border-collapse: separate;
  width: 100%;
  max-width: 100%;
}

.table thead th {
  border: 1px solid #d5d5d5;
  border-right: 0 none;
  background-color: #fafafa;
  font-size: 16px;
  font-weight: 500;
  padding: 10px;
}

.table thead tr:first-child th:first-child {
  border-radius: 4px 0 0 0;
}

.table thead tr:first-child th:last-child {
  border-right: 1px solid #d5d5d5;
  border-radius: 0 4px 0 0;
}

.table thead th[data-sortable="true"] {
  cursor: pointer;
}

.table-th-sort {
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-th-sort .icon {
  width: 28px;
  height: 28px;
  flex-shrink: 0;
  margin-left: 5px;
}

.table tbody tr:hover,
.table tbody tr:active {
  background-color: #fcfcfc;
}

.table tbody td {
  border: 1px solid #d5d5d5;
  border-top: 0 none;
  border-right: 0 none;
  font-size: 16px;
  text-align: center;
  padding: 10px;
}

.table tbody tr td:last-child {
  border-right: 1px solid #d5d5d5;
}

.table tbody tr:last-child td:first-child {
  border-radius: 0 0 0 4px;
}

.table tbody tr:last-child td:last-child {
  border-radius: 0 0 4px 0;
}

.table tbody td img {
  width: auto;
  height: auto;
  max-width: 100px;
  max-height: 100px;
}

.table-nowrap {
  white-space: nowrap;
}

.table-centered {
  text-align: center;
}

.table-centered .icon {
  margin-right: 5px;
  vertical-align: sub;
}

.table-actions {
  text-align: center;
  white-space: nowrap;
}

.table-actions .button {
  width: 100%;
  margin-bottom: 15px;
}

.table-actions > .button:last-child {
  margin-bottom: 0;
}
