input:-webkit-autofill {
  border-color: #dadada;
  -webkit-box-shadow: 0 0 0 1000px #ffffff inset;
  transition: unset;
}

.textfield {
  color: #555;
  border: 1px solid #dadada;
  box-shadow: none;
  border-radius: 4px;
  background-color: #ffffff;
  -webkit-appearance: none;
  padding: 10px;
  min-height: 47px;
}

.textfield[readonly],
.textfield:read-only,
.textfield[readonly]:hover,
.textfield:read-only:hover,
.textfield[readonly]:focus,
.textfield:read-only:focus,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  cursor: default;
  border-color: #f0f0f0;
  background-color: #f0f0f0;
}

.textfield--small {
  font-size: 16px;
  padding: 5px 10px;
  min-height: 40px;
}

textarea.textfield {
  resize: vertical;
  min-height: 110px;
}

textarea.textfield--small {
  padding: 10px;
  min-height: 70px;
}

.textfield:focus,
.textfield:active {
  border-color: #bababa;
}

.textfield:disabled {
  opacity: 0.45;
  pointer-events: none;
}

.textfield--error,
input:-webkit-autofill.textfield--error {
  color: #fb5465;
  border-color: #fb5465;
}

.textfield-icon {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.textfield-icon > .icon {
  top: 50%;
  left: 10px;
  position: absolute;
  transform: translateY(-50%);
  pointer-events: none;
}

.textfield-icon > .icon .icon-fill {
  fill: #aaaaaa;
}

.textfield-icon .textfield {
  width: 100%;
  padding-left: 35px;
}
